/* Quicksand Font */
.quicksand-normal{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Raleway Font */
.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.orange {
    color: #FEA301;
}
.skyblue {
    color: #01ACFD;
}
.pastal {
    color: #05D4DF;
}
.violet {
    color: #5D58EF;
}
.white {
    color: #FFFFFF;
}

/* Navbar Style */
.nav-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    align-items: center;
    position: relative;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 55px;
    margin-right: 10px;
}
.logo h1 {
    font-weight: 700;
    font-size: 2rem;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600; 
}
.contact {
    background-color: #FEA301;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}
.hamburger {
    display: none;
}

/* Banner Section Design */
.banner {
    max-width: 1160px;
    margin: 0 auto;
}
.banner-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-description {
    width: 600px;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    margin-top: 24px;
}
.marquee{
    max-width: 600px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 30px auto;
}
.nelson{
    color: #FEA301;
}
.main-btn {
    background-color: black;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
}

/* Curriculam Section Styles */

.curriculam-section {
    background-image: url(../Images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 60px auto 0 auto;
}

.curriculam-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    max-width: 1160px;
    margin: 0 auto;

}

.curriculam-container h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
}

.curriculam-boxes {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 28px;
}

.bg-gradient-1{
    background: linear-gradient(to bottom, #64C8FF66 -6%, #FFFFFF 28%);
}   
.bg-gradient-2{
        background: linear-gradient(to bottom, #FFF4DC -6%, #FFFFFF 28%);
}
.bg-gradient-3{
        background: linear-gradient(to bottom, #EEE1FF -6%, #FFFFFF 28%);
    
        
}

.curriculam-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    /* width: 340px;
    height: 420px; */
    gap: 30px;
    border-radius: 18px;
    box-shadow: 0 0 19.16px 0.64px #0000000D;
}

.curriculam-box h3{
    font-size: 1.6rem;
    font-weight: bold;
}
.curriculam-box p{
    font-size: 1rem;
    font-weight: medium;
    text-align: center;
}
.curriculam-box span{
    font-weight: bold;
    font-size: 1rem;
    color: #64C8FF;
}
.curriculam-box:nth-child(2) span{
    color: #F0AA00;
    font-weight: bold;
    font-size: 1rem;
}
.curriculam-box:nth-child(3) span{
    color: #8700FF;
    font-weight: bold;
    font-size: 1rem;
}


/* Less Greater Design */
.less-greater{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.less, .greater {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEA301;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.less span, .greater span{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

/* Stories Section Styles */

.stories-section {
    background-image: url(../Images/bg.png),
    linear-gradient(0deg, 
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3));
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px auto 0 auto;
}
.stories-container {
    max-width: 1160px;
    height: 850px;
    margin: 20px auto;
    
}
.stories-title {
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.stories-boxes {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.big-box {
    background-color: #FFFFFF;
    width: 540px;
    height: 610px;
    border-radius: 0 0 16px 16px;
}
.big-box img{
    border-radius: 16px 16px 0 0;

}
.big-box button {
    position: relative;
    color: #FFFFFF;
    width: 174.51px;
    height: 47.93px;
    border: none;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    left: 38px;
    bottom: 25px;
}
.big-box h3 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 700;
    left: 38px;
}
.big-box p {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    left: 38px;
    width: 430px;
    margin-top: 20px;
}
.small-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 600px;
    height: 620px;
}
.small-box {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 291px;
    height: 290px;
}
.small-box img {
    border-radius: 16px 16px 0px 0px;
}
.small-box p {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    left: 30px;
    width: 260px;
}
.small-box button {
    position: relative;
    color: #FFFFFF;
    font-size: 0.65rem;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 47.93px;
    left: 38px;
    bottom: 25px;
}
.btn-1,
.btn-3,
.btn-4 {
    background-color: #95B226;
}
.btn-2 {
    background-color: #5D58F0;
}
#main-btn-1 {
    margin-left: 520px;
}
.small-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* footer section style */
.footer {
    background-color: #01ACFD;
    color: #FFFFFF;
}
.footer-container {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    margin-top: -20px;
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-items p{
    max-width: 400px;
    height: 100%;
}
.logo-name {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-name h1 {
    font-size: 2rem;
    font-weight: 700;
}
.logo-name img {
    width: 80px;
    height: 100%;
}
.about-school ul {
    list-style: none;
    padding: 0;
}
.about-school ul li {
    margin: 5px 0;
}
.about-school ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 576px){
    /* navbar for mobile device */
    .navbar {
        border: 1.5px solid orange;
    }
    .nav-container {
        flex-wrap: wrap;
        padding: 10px;
    }
    .nav-links, 
    .logo h1, 
    .contact,
    .less-greater,
    .big-box {
        display: none;
    }
    .hamburger {
        display: block;
        width: 30px;
        cursor: pointer;
    }
    /* Banner Section */
    .banner-contents {
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title,
    .curriculam-container h1 {
        font-size: 2.2rem;
    }
    .banner-description {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
    }
    .main-btn {
        margin: 10px auto;
    }
    .banner-image img {
        width: 100%;
        max-width: 350px;
        margin: 20px auto;
    }

    /* Curriculam Section Style */
    .curriculam-boxes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .curriculam-box {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    /* Stories Section */
    .stories-title {
        font-size: 2rem;
        text-align: center;
    }
    .small-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 320px;
        padding: 20px;
    }
    .small-box {
        max-width: 220px;
        height: 250px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        gap: 2px;
        text-align: left;
    }
    .small-box img {
        width: 100%;
        height: auto;
    }
    .small-box p {
        width: 180px;
    }
    .btn-1 {
        background-color: #95B226;
    }
    .btn-2,
    .btn-3,
    .btn-4 {
        background-color: #5D58F0;
    }
    #main-btn-1 {
        display: block;
        margin-left: calc(( 100% / 2 ) - 35px);
    }

    /* footer section */
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 30px;
    }
    .marquee {
        display: none;
    }
}
